# =========================
# Dependencias
# =========================
node_modules/
.pnp
.pnp.js

# =========================
# Builds
# =========================
.next/
out/
dist/
build/

# =========================
# Producción
# =========================
.vercel/

# =========================
# Variables de entorno
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Coverage / Tests
# =========================
coverage/
*.lcov

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Cache
# =========================
.cache/
.turbo/
.eslintcache

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editores
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# =========================
# Misc
# =========================
*.log
